html {
  font-family: Open-sans, sans-serif;
}

form {
  background-color: #fff;
}

label {
  display: block;
}

form div {
  margin-bottom: 1.5rem;
}

input,
select,
textarea {
  font-size: 1.125rem;
}

input,
textarea {
  border: 1px solid #ccc;
  padding: .3em;
}

textarea {
  height: 5em;
}

button {
  font-size: 1.125rem;
  padding: .5em .75em;
  color: #000;
  background-color: #fff;
}

@media only screen and (min-width: 25em) {

  html {
    line-height: 1.3;
  }

}

@media only screen and (min-width: 60em) {

  html {
    line-height: 1.5;
  }
}
