html {
  font-family: Open-sans, sans-serif;
}

label {
  display: block;
}

form div {
  margin-bottom: 1.5rem;
}

input,
select,
textarea {
  font-size: 1.125rem;
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 0.3em;
}

textarea {
  height: 5em;
}

button {
  font-size: 1.125rem;
  padding: 0.5em 0.75em;
}

@media only screen and (min-width: 60em) {



}
